In [2]:
import pandas as pd

In [3]:
df = pd.read_parquet('barraBAB_backtest.parquet')

df

                date   barrid    weight   fwd_ret
0         2009-05-29  CAN17B1  0.015668 -0.046411
1         2009-06-01  CAN17B1  0.017140  0.064893
2         2009-06-02  CAN17B1  0.016528 -0.039001
3         2009-06-03  CAN17B1  0.017102  0.077996
4         2009-06-04  CAN17B1  0.017564 -0.027647
...              ...      ...       ...       ...
20804113  2023-12-26  USBPKS1  0.001803  0.090373
20804114  2023-12-27  USBPKS1  0.002497  0.082883
20804115  2023-12-28  USBPKS1  0.002528 -0.014975
20804116  2023-12-29  USBPKS1  0.003549       NaN
20804117  2023-12-29  USBPM41  0.000598       NaN

[20804118 rows x 4 columns]

In [5]:
df['date'].min()

datetime.date(1996, 1, 2)